.review {
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media screen and (max-width: 500px) {
    .review {
        flex-direction: column;
        align-items: center;
    } 
 }

 .body {
    margin-top: 127px;
 }

 @media screen and (max-width: 500px) {
     .body {
         margin-top: 80px;
     }
 }