.review {
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    max-height: 235px;
    margin-left: 165px;
    margin-top: 127px;
}

@media screen and (max-width: 500px) {
    .review {
        flex-direction: column;
        margin: 80px auto;
        align-items: center;
    } 
 }